@media only screen and (max-width: 1400px ) {

    .container2 .part1 .mentor {
        font-size: 18px;
        height: 40px;
        padding: 4px 0 0 0;
    }

    .container2 .part1 {
        width: 13% !important;
    }


}


@media only screen and (max-width: 1200px ) {

    .container{
        max-width: 95%;
    }

    .chatbox4 .part32 .part322 .special-chek {
        height: 80px;
    }
    .chatbox4 .part32 .part322 .chek form div{
        font-size: 16px;
        color: black;
    }



    .pattern {
        left: 26%;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard img {
        /*transform: scale(1);*/
        /*margin-top: 5px;*/
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard h4 {
        font-size: 13px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 992px ) {


    .sectionfive .container .row .col-sm-6 .card div .head2 h2{
        font-size: 15px;
    }

    .sectionfive .container .row .col-sm-6 .card div .head2 h2 span{
        font-size: 15px;
    }

    .chatbox4 .imgicon{
        gap: 2px;
    }

    .chatbox4 .part32 .part322 .chek form div{
        font-size: 12.5px;
        color: black;
    }

    .chatbox4 .img-thumbnail{
        margin-right: 5px!important;
        height: 20px!important;
        width: 20px!important;
    }
    .chatbox4 .mgdate{
        transform: scale(0.8);
        margin-top: 0;
    }
    .chatbox4 .imgicon p {
        font-size: 10px;
    }
    .part32 .part322 .chek .chek-confirm-btn {
        font-size: 14px;
    }




    .special-bottom-border{
        padding-bottom: 255% !important;
    }

    .sectionone .container .row .col-sm-6 .row1 {
        /*width: 360px !important;*/
        /*position: absolute;*/
        /*left: -6%;*/
    }

    .container2 .part3 {
        width: 40%;
    }

    .container2 .part2 {
        width: 45%;
    }


    .par311-img-ment-request {
        transform: scale(0.3);
        margin-bottom: -120px;
    }
    .chatbox2 .part31 .part311 .part312 p{
        font-size: 14px;
        padding: 2px 5px;
    }

    .chatbox2 .part31 .part311 h3 {
        margin-top: 40px;
    }

    .chatbox2 .part31 .part311 .imgbox {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 15px;
    }

    .chatbox2 .part31 .part311 .imgbox button {
        padding: 16px 20px !important;
    }

    .chatbox2 .part31 .part311 .part312 {
        padding: 2px 5px !important;
    }

    .part1 .sergment {
        margin-top: 28px;
        margin-bottom: 6px;
    }


    .part1 .part11 {
        gap: 4px !important;
    }

    .paddingBottom {
        padding-bottom: 40%;
    }

    .part322 .p button {
        padding: 1px !important;
        font-size: 13px;
    }

    .chatbox4 .part31 ul .head {
        font-size: 16px;
        font-family: sans-serif;
    }

    .container2 {
        height: 800px;
    }

    .container2 .part3 .chatbox1 .part31, .container2 .part3 .chatbox2 .part31 {
        height: 90%;

    }

    .container2 .part3 .part31 {
        height: 124px;
    }

    .chatbox3 .part31 ul .head {
        font-size: 22px;
    }

    .container2 .part1 {
        width: 15% !important;
    }


    .sectionone .sergment {
        bottom: -10px;
    }

    .sectionone .container .row .col-sm-6 .imgbox .img img:nth-child(3) {
        left: -2% !important;
        bottom: 26% !important;
    }
    .container .row .col-sm-6 .row1 .bg-row1 {
        top: -8% !important;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard {
        /*gap: 10px;*/
        margin: 25px 0 0 0 !important;
        width: 45% !important;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard h4 {
        font-size: 11px;
        font-weight: 500;
        width: 100%;
    }


    .sectionone .container .row .col-sm-6 .row1 .imgcard img {
        /*margin-left: 11px;*/
        transform: scale(0.9);
    }


    .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {

        font-size: 18px;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
        font-size: 10px;
    }


    .sectionfive .container .row .col-sm-6 .card .card2 .text2 span {
        font-size: 11px !important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .iconss {
        /*padding-top: 50px;*/
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .iconss i {
        font-size: 15px !important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .imgs img {
        width: 55px;
        height: 55px;
    }


    .sectionfive .container .row .col-sm-6 .card .card2 .progresss a {
        font-size: 15px !important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .progresss progress {
        font-size: 10px;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 {
        /*margin: 5px !important;*/
    }


    .sectionfive .container .row .col-sm-6 .card .card1 h4 {
        font-size: 15px;
    }

    .sectionfive .container .row .col-sm-6 .card .card1 h3 {
        font-size: 15px;
    }


    /*---------------------------*/
    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 h5 {

        font-size: 13px !important;
        font-weight: 600;

    }

    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 span {
        font-size: 15px;
        font-weight: 600;
    }

    .container2 .part1 .mentor {
        font-size: 14px;
        height: 30px;
        padding-top: 4px;
    }

    .container2 .part1 .search {
        height: 40px;
        width: 40px;
    }


    .container2 .mentstyl {
        font-size: 10px;
    }

    .part1 .sertext {
        font-size: 14px;
    }

    .container2 .part1 img {
        height: 50px !important;
        width: 50px !important;

    }

    .chatbox1 .part31 .text {
        font-size: 20px;
    }

    .chatbox1 .part31 .text1 {
        font-size: 15px !important;
    }

    .chatbox1 .part31 .btn {
        font-size: 15px;
    }

    .chatbox2 .part31 img {
        height: 250px !important;
        width: 250px !important;
    }

    .chatbox2 .part31 .text1 {
        font-size: 14px !important;
        word-wrap: break-word;
        padding: 5px;
    }

    .pattern {
        position: absolute;
        z-index: 0;
        left: 12%;
        top: 18%;
    }

    .p2 {
        margin-left: 0 !important;
    }


    .requestSectionTwo .container .container4 .part1 {
        width: 35% !important;
    }

    .requestSectionTwo .container .container4 .part1 .part11 .categories ul {
        margin-left: 30px !important;
    }

    .requestSectionTwo .container .container4 .part2 {
        width: 60% !important;
    }

    .requestSectionTwo .container .container4 .part2 .inputs label {
        padding: 25px 20px !important;
    }


}

@media only screen and (max-width: 824px ) {
    .burst-start{
        left: 0!important;
        bottom: 30px!important;
    }
    .sectionone .sergment {
        bottom: 0.8rem;
    }



}
@media only screen and (max-width: 767px ) {
    .burst-start {
         bottom: 7px!important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .middle-flex{
        flex-direction: column;
    }

    .chatbox4 .part32 .part322 .chek div:first-child{
        width: 60% !important;
    }

    .chatbox4 .imgicon{
        width: 40% !important;
    }

    .chatbox4 .part32 .part322 .special-chek {
        height: 75px;
    }
    .chatbox4 .part32 .part322 .chek form div{
        font-size: 12px;
    }

    .special-mt-req-padding{
        padding-bottom: 76%!important;
    }
    .chatbox2 .part31 .part311 svg{
        width: 100%;
    }

    .chatbox2 .part31 .part311 h3{
        font-size: 15px!important;
    }
    .chatbox2 .part31 .part311 .part312{
        margin: 0 35px!important;
    }
    .chatbox2 .part31 .part311 .part312 p{
        font-size: 10px;
    }
    .chatbox2 .part31 .part311 .part312 h4{
        font-size: 12px!important;
    }
    .chatbox2 .part31 .part311 .imgbox button{
        padding:10px 12px!important;
    }

    .special-bottom-border {
        padding-bottom: 369% !important;
    }

    .sectionfour .container .row .col-sm-4 .imgbox1 .btn-res1 {
        font-size: 13px !important;
        /*padding: 15px 22px !important;*/
    }

    .sectionfour .container .row .col-sm-4 .imgbox1 .btn-res2 {
        font-size: 13px !important;
        /*padding: 9px 17px !important;*/
    }

    .sectionone .sergment {
        bottom: -15px;
        /*left: 10px;*/
    }

    .container2 .part3 .part31 {
        height: 100px;
    }

    .part1 .sergment {
        margin-top: 20px;
    }

    .container2 .part1 img {
        height: 40px !important;
        width: 40px !important;
    }

    .part1 .part11 {
        gap: 8px !important;
    }


    .paddingBottom {
        padding-bottom: 70%;
    }


    .container2 {
        height: 830px;
    }

    /*aahmar.chatbox4 .part31 ul li:nth-child(2) .license, .chatbox3 .part31 ul .head li:nth-child(2) {*/
    /*    margin-top: 8px;*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    gap: 6px;*/
    /*    width: fit-content;*/
    /*}*/

    .chatbox4 .part31 ul .head .license, .chatbox3 .part31 ul .head .license {
        width: fit-content;
    }

    .chatbox4 .part31 ul .head, .chatbox3 .part31 ul .head {
        font-size: 15px !important;
    }

    .container .row .col-sm-6 .row1 .bg-row1 {
        height: 80px!important;
        right: 0!important;
        top: 0!important;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard {
        display: flex;
        width: 49% !important;
        gap: 0;
        margin: 8px 0 0 0 !important;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard h4 {
        font-size: 10px;
        font-weight: 500;
        white-space: nowrap;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard img {
        /*margin-top: 2px;*/
        transform: scale(0.9);
        /*margin-right: 10px;*/
    }

    .sectionone .container .row .col-sm-6 .imgbox .img {
        margin-left: 20px;
        height: fit-content;
    }

    .sectionone .container .row .col-sm-6 .imgbox .box h3 {
        font-size: 24px;
    }

    .sectionone .container .row .col-sm-6 .row1 {
        width: 100% !important;
        padding: 15px;
    }

    .sectionone .container .row .col-sm-6 {
        padding: 3px;
    }

    .sectionone .container .row .col-sm-6 .imgbox .img img:nth-child(1) {
        width: 95%;
    }

    .sectionone .container .row .col-sm-6 .imgbox .img img:nth-child(3) {
        left: -6% !important;
        bottom: 3% !important;
    }

    .pattern {
        position: absolute;
        z-index: 0;
        left: 9%;
        top: -45%;
        transform: scale(0.7);
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {
        font-size: 12px;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
        font-size: 8px;
    }


    .sectionfive .container .row .col-sm-6 .card .card2 .text2 span {
        font-size: 8px;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .icons i {
        font-size: 10px !important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .progresss progress {
        /*font-size: 5px;*/
    }

    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 img {
        /*width: 30px;*/
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 {
        font-size: 15px;
    }

    .sectionfour .container .row .col-sm-4 .imgbox1 h2 {
        font-size: 30%;
    }

    .sectionfour .container .row .col-sm-4 .imgbox1 p {
        max-height: 30%;
    }


    .container2 .part1 .mentor {
        font-size: 10px;
    }

    .chatbox2 .part31 .text1 {
        font-size: 10px !important;
    }

    .chatbox2 .part31 img {
        height: 200px !important;
        width: 200px !important;
    }

    .part2 .return {
        font-size: 11px;
    }

    .requestSectionTwo .container .container4 .part1 {
        width: 43% !important;
    }

    .requestSectionTwo .container .container4 .part1 .part11 .offer b {
        margin-left: 30px !important;
    }

    .requestSectionTwo .container .container4 .part1 .part11 .categories ul {
        margin-left: 70px !important;
    }

    .requestSectionTwo .container .container4 .part2 {
        width: 50% !important;
    }

}


/* Media Query */
@media only screen and (max-width: 666px ) {
    .special-flex{
        /*padding-bottom: 65% !important;*/
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard img{
        transform: scale(0.7);
    }
    .sectionone .container .row .col-sm-6 .row1 .imgcard h4{
        margin-left: -9%;
        font-size: 8px;
    }

    .part31 .license{
        font-size: 13px;
        padding: 3px;
    }
}
@media only screen and (max-width: 600px ) {
    .sectionfive .container .row .col-sm-6 .card .card2{
        padding-bottom: 1rem!important;
    }

    .sectionthree .container .row .col-12  .box1 svg{
        transform: scale(2);
        margin-right: 1rem;
    }

    .chatbox4 .part32 .part322 .chek form div{
        font-size: 13.5px;
        color: black;
    }

    .chatbox4 .img-thumbnail{
        margin-right: 5px!important;
        height: 30px!important;
        width: 30px!important;
    }
    .chatbox4 .mgdate{
        transform: scale(1) !important;
        margin-top: 5px!important;
    }
    .chatbox4 .imgicon p {
        font-size: 12px;
    }


    .container{
        max-width: 100%; /* Adjust the width for large screens */
    }

    .chatbox4 .part32 .p{
        font-size: 20px!important;
    }

    .chatbox4 .part32 .part322 .chek form input{
        transform: scale(1.5) !important;
    }
    .chatbox4 .part32 .part322 .chek form div{
        font-size: 18px!important;
        color: black;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 span{
        font-size: 12px!important;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .progresss .special-progess{
        bottom: -3rem !important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text22 {
        margin-bottom: 15px!important;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .text2{
        margin: 0!important;
        padding-top: 0!important;
        /*padding-bottom: 15px;*/
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .imgs{
        /*margin-bottom: -22px;*/
        /*margin-top: -4px;*/
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .progresss{
        position: relative;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .progresss progress {
        font-size: 15px;
        /*position: absolute;*/
        /*bottom: -1.5rem;*/
        /*right: 70%;*/
        /*transform: translateX(-70%);*/
    }

    .requestSectionTwo .container .container4 .part1 {
        width: 100% !important;
    }

    .requestSectionTwo .container .container4 .part2 {
        width: 100% !important;
    }


    header {
        margin-top: 12px;
    }

    header .container .row {
        padding: 0px 0px;
        margin: 0px 1px;
    }

    header .container .row li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 15px;
        text-decoration: none;
        font-size: 14px;
    }

    header .container .row li a:hover {
        color: #111;
        background-color: #FFD13A;
        border-radius: 8px;
        padding: 8px 10px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .sectionone .container .row {
        margin: 12px 0px 0px 0px;
    }

    .sectionone .container .row .col-sm-6 .imgbox .box h3 {
        font-size: 27px;
    }

    .sectionone .container .row .col-sm-6 .row .imgcard {

        width: 45% !important;

    }
    .sectionone .container .row .col-sm-6 .row1 .imgcard h4{
        margin-left: 5px!important;
        font-size: 10px!important;
    }


    /*.sectionone .container .row .col-sm-6 .row .imgcard h4 {*/
    /*    aaahmar*/
    /*    font-size: 8px;*/
    /*    transform: scale(1.05);*/
    /*}*/

    .sectionone .container .row .col-sm-6 .row .imgcard img {
        /*margin-top: 5px;*/
        transform: scale(1);
        margin-right: 6px;
    }

    .sectiontwo {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--mdb-gutter-x) * 0.5);
        padding-left: calc(var(--mdb-gutter-x) * 0.5);
        margin-right: auto;
        margin-left: auto;
    }

    .sectiontwo .s2container .icons-board {
        flex-direction: column;
    }

    .pattern {
        top: -14%;
        left: 0;
        height: 82px;
    }

    .sectiontwo .container .row {
        padding: 8px 10px;
        margin: 0px 0px;
    }

    .sectiontwo .container .row .col-sm-3 .iconbox {
        margin-left: 15px !important;
    }

    .sectionthree .container .row {
        margin: 22px 0px;
    }

    .sectionthree .container .row .col-12 .box1 span {
        font-size: 13px;
        padding: 1px;
    }

    .sectionfour .container .row {
        margin: 22px 0px;
        padding: 0px;
    }


    .sectionfour .container .row .col-sm-4 .imgbox1 h2 {
        font-size: 25px;
    }

    .sectionfive .container .row {
        margin: 0px -12px 0px 0px;
    }

    .sectionfive .container .row .col-sm-6 {
        margin-top: 5px;
    }

    .sectionfive .container .row .col-sm-6 .card .card1 h4 {
        color: #160529;
        padding: 20px 5px 16px 15px;
        font-weight: 400;
        font-size: 20px;
    }

    .sectionfive .container .row .col-sm-6 .card .card1 h4 span {
        font-size: 15px;
    }

    .sectionfive .container .row .col-sm-6 .card .card1 h3 {
        color: #160529;
        padding: 20px 10px 16px 15px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .imgs img {
        width: 50px;
        height: 50px;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
        font-size: 12px;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {
        font-size: 20px !important;
    }

    .sectionfive .container .row .col-sm-6 .card .card2 .progresss a {
        color: #160529;
        font-weight: 500;
        border-bottom: 1px solid;
        margin-right: 10px;
        font-size: 12px;
    }

    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 div {
        /*width: 55% !important;*/
        /*padding-left: 0 !important;*/
    }

    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 img {
        /*width: 30px;*/
        /*height: 30px;*/
    }

    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 span {
        font-size: 13px;
    }

    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 h5 {
        font-size: 13px;
    }

    .sectionfive .container .row .col-sm-6 .card .row .col-sm-6 {
        border: none !important;
    }

    .sectionfive .container .row .col-sm-6 .card {
        margin-right: 0px !important;
        margin-left: -10px;
        margin-top: 20px;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }


    .requestSectionTwo .container4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% 3%;
    }

    .requestSectionTwo .container4 .part1 {
        width: 100% !important;
    }

    .requestSectionTwo .container4 .part2 {
        width: 100% !important;
    }

    .requestSectionTwo .part2 .req {
        margin-top: 10px;
        font-size: 18px;
    }

    .requestSectionTwo .part2 .all p {
        font-size: 16px;
        margin-top: 30px;
        letter-spacing: 1px;
    }

    .requestSectionTwo .part2 .inputs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 0px;
    }

    .requestSectionTwo .part2 .inputs .ip1 {
        border: 1px solid black;
        border-radius: 12px;
        padding: 15px 30px;
        width: 100%;
    !important;

    }

    .requestSectionTwo .part2 .inputs .ip2 {
        border: 1px solid black;
        padding: 15px 30px;
        width: 100%;
    !important;
        border-radius: 12px;
        margin-left: 0px;
    !important;
    }

    .requestSectionTwo .part2 .inputs .ip3 {
        border: 1px solid black;
        padding: 15px 30px;
        border-radius: 12px;
        margin-left: 0px;
    !important;
        width: 100%;
    !important;
    }

    .requestSectionTwo .part2 .inputs .ip4 {
        border: 1px solid black;
        padding: 25px 30px;
        border-radius: 12px;
        margin-left: 0px;
    !important;
        margin-top: 20px;
        width: 100%;
    !important;
    }

    .container2 {
        flex-direction: column;
        width: 95%;
        border: none !important;
    }

    .container2 .part1 {
        width: 100% !important;
        border: 2px solid black;
        border-radius: 12px;
    }

    .part1 .part11 {
        border-right: none;
        flex-direction: row;
        justify-content: start;
    }

    .part1 .part11 br {
        display: none;
    }

    .part1 .part11 .sergment, .part1 .part11-active .sergment {
        margin-top: 45px;!important;
        margin-left: 15px;
    }

    .part1 .part11-active {
        flex-direction: row;
        justify-content: start;
    }

    .container2 .part1 .part11 img, .container2 .part1 .part11-active img {
        margin: 25px 25px 25px 20px;
    }

    .container2 .part1 .mentor {
        border-top-right-radius: 12px;
        border-right: none;
        font-size: 20px !important;
        padding-top: 0;

    }

    .container2 .bdright {
        border-right: none;
    }

    .container2 .part2 {
        width: 100%;
        border: 2px solid black;
        border-radius: 12px;
        margin-top: 10px;
    }

    .container2 .part2 .part21 {
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .part2 #message {
        width: 100% !important;
    }


    .container2 .part3 {
        width: 100%;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-radius: 12px;
        margin-top: 10px;
    }

    .admnt-parent {
        padding: 0 0 !important;
        width: 100%;
    }
    .special-border{
        border-top: 2px solid black!important;
    }

    .container2 .admnt {
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 8px 0 8px 44px;

    }

    .container2 .admnt img:first-child {
        margin: 0;
        transform: scale(1.1);
    }


    .container2 .mentstyl {
        font-size: 14px;
        margin-right: 15px;
    }

    .part11 {
        padding-bottom: 0 !important;
    }

    .part32 .part322 .chek .chek-confirm-btn {
        font-size: x-small;
    }

    .container2 .part3 .chatbox1 .part31, .container2 .part3 .chatbox2 .part31 {
        height: 700px;
        border-top-left-radius: 12px;

    }
    .container2 .part3 .chatbox3 .part31, .container2 .part3 .chatbox4 .part31{
        border-top-left-radius: 12px;
    }

    .container2 .part3 .part32 {
        margin-bottom: 15px;
    }

    .chatbox4 .part31 ul .head, .chatbox3 .part31 ul .head {
        font-size: 20px !important;
    }

    #first-image {
        width: 120px !important;
        height: 120px !important;
    }

    .chatbox4 .part31 ul li:nth-child(2) .license, .chatbox3 .part31 ul .head li:nth-child(2) {
        display: inline-block;
    }

    .sectiontwo .container .row .col-sm-3 .iconbox .text1 h6 {
        font-size: 15px;
        font-weight: 500;
    }

    .sectiontwo .container .row .col-sm-3 .iconbox .text1 {
        padding-left: 15px !important;
        margin-top: -6px;
    }


    .sectionone .sergment {
        bottom: -12px;
        left: 30px;
    }


    .sectionone .container .row .col-sm-6 .row1 {
        /*position: relative;*/
    }

    .sectionfive .container .row .col-sm-6 .card .r-card {
        flex-direction: column;
    }

    .sectionfive .container .row .col-sm-6 .card .r-card-left {
        width: 100% !important;
    }

    .sectionfive .container .row .col-sm-6 .card .r-card-right {
        width: 100% !important;
        border-left: none;
    }

    .sectionfive .container .row .col-sm-6 .card div .head2 {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }


    .part2 .part21 .part21-bottom-box {
        width: 90% !important;
    }

    .part34 .meter {
        border-bottom-left-radius:12px;
        border-bottom-right-radius:12px;
    }


}

@media only screen and (max-width: 400px ) {
    .sectionone .container .row .col-sm-6 .row1 .imgcard h4{
        margin-left: 3px!important;
        font-size: 9px!important;
    }



    .sectionone .container .row .col-sm-6 .row .imgcard img {
        transform: scale(0.8);
        margin-right: 0!important;
    }


    header {
        margin-top: 12px;
    }

    header .container .row {
        padding: 0px 0px;
        margin: 0px 1px;
    }

    header .container .row li a {
        padding: 18px 14px;
        font-size: 12px;
    }

    header .container .row li a:hover {
        padding: 6px 8px;
    }

    .sectionfive .container .row .col-sm-6 .card .card1 h3{
        font-size: 15px;
    }
    .sectionfive .container .row .col-sm-6 .card .card1 h4{
        font-size: 15px;
    }
    .sectionfive .container .row .col-sm-6 .card .card1 h4 span{
        font-size: 11px;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .progresss progress , .sectionfive .container .row .col-sm-6 .card .card2 .progresss .special-progess{
        font-size:12px;
        /*transform: translateX(-50%);*/
    }
}


@media only screen and (max-width: 348px ) {

    header .container .row li a {
        font-size: 10px;
    }


    .sectionone .container .row .col-sm-6 .row1 .col-6 .imgcard {
        /*width: 122px !important;*/
    }

    .sectionone .container .row .col-sm-6 .row1 {
        /*width: 275px !important;*/
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard{
        width: 50% !important;
    }

    .sectionone .container .row .col-sm-6 .row1 .imgcard h4{
        margin-left: 1px!important;
        font-size: 8px!important;
    }

    .sectionone .container .row .col-sm-6 .row .imgcard img {
        width: 25px;
        height: 25px;
        transform: scale(0.8);
        margin-right: 0!important;
    }



    progress::-webkit-progress-bar {
        height: 50px;

    }


}


@media only screen and (max-width: 312px ) {

    header .container .row li a {
        font-size: 9px!important;
    }
    .sectionone .container .row .col-sm-6 .row1 .imgcard h4{
        margin-left: 0px!important;
        font-size: 7.5px!important;
    }

    .sectionone .container .row .col-sm-6 .row .imgcard img {
        width: 20px;
        height: 20px;
        transform: scale(0.7);
        margin-left: -10px;
    }






}
@media only screen and (max-width: 291px ) {

    header .container .row li a {
        font-size: 8px!important;
    }




}