@media only screen and (max-width: 992px ) {

    .p2{
        margin-left: 0!important;
    }

}

@media only screen and (max-width: 1200px ) {

}


/* HMC */
@media only screen and (max-width: 1199px) {
    .col-sm-8 .textbox1 .btnbox .btn {
        padding: 10px 40px !important;
    }

    .row .col-sm-6 .card1 .box7 {
        margin-left: -50px !important;
    }

    .row .col-sm-6 .card1 {
        height: 498.34px !important;
    }
}

@media only screen and (max-width: 991px) {

    .row .col-sm-6 .card1 {
        height: 100% !important;
    }

    .col-sm-8 .textbox1 .btnbox .btn {
        padding: 10px 30px !important;
    }

    .row .col-sm-6 .card1 .box7 {
        margin-left: -30px !important;
    }
}

@media only screen and (max-width: 767px) {

    .col-sm-8 .textbox1 .btnbox .btn {
        padding: 10px 25px !important;
    }
    
    .container .row .col-sm-4 .check .form-check .m-1 {
        margin-right: 30px !important;
    }
    
    .container .row .col-sm-4 .check .form-check span {
        margin-left: 0 !important;
    }
    
    .row .col-sm-6 .card1 .box7 {
        /* width: 500px !important; */
        /* margin: 8px 0 0 70px !important; */
        margin-left: -100px !important;
        /* margin-right: -200px !important; */
    }
    
    .row .col-sm-6 {
        width: 100% !important;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 450px) {
    .container .row .col-sm-8 .textbox1 .img3 {
        width: 128px !important;
        margin-right: 10px !important;
    }

    .container .row .col-sm-8 .textbox1 .btnbox {
        display: flex;
        justify-content: center;
    }

    .container .row .col-sm-8 .textbox1 .flex {
        display: flex;
    }
}

@media only screen and (min-width:600px) {
    .sectionsix .container .row .col-sm-8 .drop {
        display: none;
    }
}
/* HMC */


/* Media Query */
@media only screen and (max-width:600px ){
    /* HMC */
    .sectionsix .container .row .none {
        display: none;
    }
    
    .sectionsix .container .row .col-sm-8 .drop {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .left-portion, .right-portion {
        width: 100% !important;
    }


    /* HMC */

    header {
        margin-top: 12px;
    }
    header .container .row {
        padding: 0 0;
        margin: 0 1px;
    }
    header .container .row li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 15px;
        text-decoration: none;
    }
    header .container .row li a:hover {
        color: #111;
        background-color: #FFD13A;
        border-radius: 8px;
        padding: 8px 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .sectiontwo .container .row{
        padding: 8px 10px;
        margin: 0px 0px;
    }
    .sectiontwo .container .row .col-sm-3 .iconbox {
        margin-left: 0px !important;
    }
    .sectionthree .container .row {
        margin: 22px 0px;
    }
    .sectionthree .container .row .col-12 .box1 span {
        font-size: 13px;
        padding: 1px;
    }
    .sectionfour .container .row {
        margin: 22px 0px;
        padding: 0px;
    }
    .sectionfour .container .row .col-sm-4 .imgbox1 h2 {
        font-size: 25px;
    }
    .sectionfive .container .row {
        margin: 0px -12px 0px 0px;
    }
    .sectionfive .container .row .col-sm-6 .card .card1 h4 {
        color: #160529;
        padding: 20px 5px 16px 15px;
        font-weight: 400;
        font-size: 20px;
    }
    .sectionfive .container .row .col-sm-6 .card .card1 h4 span {
        font-size: 15px;
    }
    .sectionfive .container .row .col-sm-6 .card .card1 h3 {
        color: #160529;
        padding: 20px 10px 16px 15px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 i {
        display: none;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .text2 {
        margin: 0px !important;
        padding: 10px;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .imgs img {
        width: 80px;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
        font-size: 15px;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {
        font-size: 18px !important;
    }
    .sectionfive .container .row .col-sm-6 .card .card2{
        display: block !important;
        text-align: center;
        padding: 45px;
    }
    .sectionfive .container .row .col-sm-6 .card .card2 .progresss{
        display: none;
    }
    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 img{
        width: 30px;
        height: 30px;
    }
    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 span {
        font-size: 15px;
        margin-left: -72px;
    }
    .sectionfive .container .row .col-sm-6 .card .card3 .btn1 h5{
        font-size: 15px;
    }
    .sectionfive .container .row .col-sm-6 .card .row .col-sm-6{
        border: none !important;
    }
    .sectionfive .container .row .col-sm-6 .card {
        margin-right: 0px !important;
        margin-left: -10px;
        margin-top: 20px;
    }
    ::-webkit-scrollbar {
        width: 3px;
    }
    .sectionsix .container .row {
        margin-top: 30px;
    }
    .sectionsix .container .row .col-sm-4 .check h2 {
        font-size: 22px;
    }
    .sectionsix .container .row .col-sm-4 .check h6 {
        font-size: 18px;
    }
    .sectionsix .container .row .col-sm-4 .check .form-control {
        width: 100%;
        height: 40px;
    }
    .sectionsix .container .row .col-sm-4 .check .button1{
        text-align: center;
    }
    .sectionsix .container .row .col-sm-4 .check .button1 button{
        padding: 10px 120px;
    }
    .sectionsix .container .row .col-sm-8 .textbox1 {
        display: block;
    }
    .sectionsix .container .row .col-sm-8 .textbox1 .box5 span {
        font-size: 15px;
    }
    .sectionsix .container .row .col-sm-8 .textbox1 .box5 h2 {
        font-size: 20px;
    }
    .sectionsix .container .row .col-sm-8 .textbox1 .box5 p {
        font-size: 16px;
    }
    .sectionsix .container .row .col-sm-8 .textbox1 .btnbox button {
        margin-top: 0px;
        padding: 10px 50px !important;
    }
    .sectionsix .container .row .col-sm-8 .textbox1 .btnbox img {
        width: 18%;
    }
    .sectionsix .container .row .col-sm-8 .row .col-sm-6{
        margin-top: 15px !important;
    }
    .sectionsix .container .row .col-sm-4 .box9 .card0 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 413px ) {
    header {
        margin-top: 12px;
    }

    header .container .row {
        padding: 0px 0px;
        margin: 0px 1px;
    }

    header .container .row li a {
        padding: 18px 14px;
        font-size: 12px;
    }

    header .container .row li a:hover {
        padding: 6px 8px;
    }


}


@media only screen and (max-width: 340px ) {

    header .container .row li a {
        font-size: 10px;
    }

    progress::-webkit-progress-bar {
        height: 50px;

    }


}