<li
  class="manager indent_1"
  data-testid="task_list_editor_wrapper"
  data-item-indent="1"
>
  <form
    class="task_editor focus-marker-enabled-within customized_inline_wrapper"
  >
    <div class="task_editor__editing_area">
      <div class="task_editor__input_fields">
        <div class="task_editor__content_field no-focus-marker">
          <div class="_2a3b75a1 _509a57b4 _1fb9d90e _4a93668a">
            <div class="e3d32437 _95ee669d _2a3b75a1">
              <div
                class="kr2Srm5 no-focus-marker task_editor__content_field--semibold"
              >
                <div
                  contenteditable="true"
                  data-typist-editor="true"
                  data-rich-text="true"
                  role="textbox"
                  aria-readonly="false"
                  aria-multiline="true"
                  aria-label="Task name"
                  translate="no"
                  class="ProseMirror"
                  tabindex="0"
                >
                  <p
                    data-placeholder="Task name"
                    class="is-empty is-editor-empty"
                  >
                    <br class="ProseMirror-trailingBreak" />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="task_editor__description_container _2a3b75a1 _509a57b4 e5a9206f"
        >
          <div class="_2a3b75a1 _509a57b4 _1fb9d90e _4a93668a">
            <div class="e3d32437 _95ee669d _2a3b75a1">
              <div
                class="kr2Srm5 task_editor__description_field no-focus-marker"
              >
                <div
                  contenteditable="true"
                  data-typist-editor="true"
                  data-rich-text="true"
                  role="textbox"
                  aria-readonly="false"
                  aria-multiline="true"
                  aria-label="Description"
                  translate="no"
                  class="ProseMirror"
                  tabindex="0"
                >
                  <p
                    data-placeholder="Description"
                    class="is-empty is-editor-empty"
                  >
                    <br class="ProseMirror-trailingBreak" />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_2a3b75a1 c7313022">
        <div class="LGR27FZ _2a3b75a1 _509a57b4 e5a9206f _3692f9c2">
          <div
            aria-label="Set due date"
            role="button"
            tabindex="0"
            class="_7mOB4eH _2a3b75a1"
          >
            <div class="Bk3otk8 _2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
              <div class="_7BwfDu4 a83bd4e0 _6a3e5ade _2a3b75a1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  class="date_today"
                >
                  <path
                    fill="currentColor"
                    d="M12 2a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V4a2 2 0 012-2h8zm0 1H4a1 1 0 00-1 1v8a1 1 0 001 1h8a1 1 0 001-1V4a1 1 0 00-1-1zm-1.25 7a.75.75 0 110 1.5.75.75 0 010-1.5zm.75-5a.5.5 0 110 1h-7a.5.5 0 010-1h7z"
                  ></path>
                </svg>
              </div>
              <div class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b _2580a74b">
                <div class="Czvoedn a83bd4e0 a8d37c6e _6a3e5ade _2a3b75a1">
                  <span class="date date_today">Today</span>
                </div>
              </div>
            </div>
            <button
              aria-label="Remove due date"
              type="button"
              aria-disabled="false"
              tabindex="0"
              class="_6rs3ItF _8313bd46 f169a390 _5e45d59f _8644eccb _2a3b75a1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.854 11.854a.5.5 0 000-.708L8.707 8l3.147-3.146a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708 0z"
                  fill="currentColor"
                ></path>
              </svg>
            </button>
          </div>
          <div
            data-priority="4"
            aria-label="Set priority"
            aria-owns="dropdown-select-3-popup"
            aria-controls="dropdown-select-3-popup"
            aria-expanded="false"
            aria-haspopup="listbox"
            data-action-hint="task-actions-priority-picker"
            role="button"
            tabindex="0"
            class="_7mOB4eH _2a3b75a1"
          >
            <div class="Bk3otk8 _2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
              <div class="_7BwfDu4 a83bd4e0 _6a3e5ade _2a3b75a1">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="Gw1i-E3"
                  data-icon-name="priority-icon"
                  data-priority="4"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2 3a.5.5 0 01.276-.447C3.025 2.179 4.096 2 5.5 2c.901 0 1.485.135 2.658.526C9.235 2.885 9.735 3 10.5 3c1.263 0 2.192-.155 2.776-.447A.5.5 0 0114 3v6.5a.5.5 0 01-.276.447c-.749.375-1.82.553-3.224.553-.901 0-1.485-.135-2.658-.526C6.765 9.615 6.265 9.5 5.5 9.5c-1.08 0-1.915.113-2.5.329V13.5a.5.5 0 01-1 0V3zm1 5.779v-5.45C3.585 3.113 4.42 3 5.5 3c.765 0 1.265.115 2.342.474C9.015 3.865 9.599 4 10.5 4c1.002 0 1.834-.09 2.5-.279v5.45c-.585.216-1.42.329-2.5.329-.765 0-1.265-.115-2.342-.474C6.985 8.635 6.401 8.5 5.5 8.5c-1.001 0-1.834.09-2.5.279z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b _2580a74b">
                <div class="Czvoedn a83bd4e0 a8d37c6e _6a3e5ade _2a3b75a1">
                  Priority
                </div>
              </div>
            </div>
          </div>
          <div
            aria-label="Add reminders"
            data-action-hint="task-actions-reminders"
            role="button"
            tabindex="0"
            class="_7mOB4eH _2a3b75a1"
          >
            <div class="Bk3otk8 _2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
              <div class="_7BwfDu4 a83bd4e0 _6a3e5ade _2a3b75a1">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.414 4.706l.094.093a.5.5 0 01-.707.708l-.094-.094a2 2 0 010-2.829l.379-.378a2 2 0 012.764-.062.5.5 0 01-.676.738 1 1 0 00-1.381.03l-.379.38a1 1 0 000 1.414zm9.412-1.824a1 1 0 011.381.03l.379.38a1 1 0 010 1.414l-.094.093a.5.5 0 10.707.708l.094-.094a2 2 0 000-2.829l-.379-.378a2 2 0 00-2.764-.062.5.5 0 10.676.738zm-.042 9.108A5.482 5.482 0 018 13.499a5.482 5.482 0 01-3.784-1.509l-1.362 1.362a.5.5 0 11-.708-.707l1.408-1.408a5.5 5.5 0 118.892 0l1.408 1.408a.5.5 0 01-.707.707l-1.363-1.362zM8 12.499a4.5 4.5 0 110-9 4.5 4.5 0 010 9zM8 5v3h2a.5.5 0 110 1H7.5a.5.5 0 01-.5-.5V5a.5.5 0 111 0z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b _2580a74b">
                <div class="Czvoedn a83bd4e0 a8d37c6e _6a3e5ade _2a3b75a1">
                  Reminders
                </div>
                <div class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
                  <span class="_7957de66 a6d2daa2 _2a3b75a1 _4a786bb9"
                    >Pro</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            aria-label="Add location"
            data-action-hint="task-actions-reminders"
            role="button"
            tabindex="0"
            class="_7mOB4eH _2a3b75a1"
          >
            <div class="Bk3otk8 _2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
              <div class="_7BwfDu4 a83bd4e0 _6a3e5ade _2a3b75a1">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.8 6.8c0 1.495-.977 3.054-2.142 4.344A16.316 16.316 0 018 12.729a16.315 16.315 0 01-1.658-1.585C5.177 9.854 4.2 8.295 4.2 6.8a3.8 3.8 0 017.6 0zm1 0C12.8 10.571 8 14 8 14s-4.8-3.429-4.8-7.2a4.8 4.8 0 119.6 0zM8 8a1.25 1.25 0 100-2.5A1.25 1.25 0 008 8z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b _2580a74b">
                <div class="Czvoedn a83bd4e0 a8d37c6e _6a3e5ade _2a3b75a1">
                  Location
                </div>
                <div class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
                  <span class="_7957de66 a6d2daa2 _2a3b75a1 _4a786bb9"
                    >Pro</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="_2a3b75a1">
            <div
              data-command=""
              role="button"
              data-disclosure=""
              aria-expanded="false"
              id=":r7:"
              aria-haspopup="menu"
              aria-label="More actions"
              class="_7mOB4eH _2a3b75a1"
              tabindex="0"
            >
              <div class="Bk3otk8 _2a3b75a1 _509a57b4 e5a9206f _50ba6b6b">
                <div class="_7BwfDu4 a83bd4e0 _6a3e5ade _2a3b75a1">
                  <svg width="15" height="3">
                    <path
                      d="M1.5 3a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm6 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm6 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                      fill="currentColor"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <div
                  class="_2a3b75a1 _509a57b4 e5a9206f _50ba6b6b _2580a74b"
                ></div>
              </div>
            </div>
            <div class="N6RijzB"></div>
            <div class="N6RijzB"></div>
            <div class="N6RijzB"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="task_editor__footer _2a3b75a1 _509a57b4 d3449da6 e5a9206f _904ef8fe _8c75067a"
    >
      <div class="_2a3b75a1 b85e3dfa f6342c26">
        <button
          aria-label="Select a project"
          aria-owns="dropdown-select-4-popup"
          aria-controls="dropdown-select-4-popup"
          aria-expanded="false"
          aria-haspopup="listbox"
          tabindex="0"
          type="button"
          aria-disabled="false"
          class="vTmg+vc _8313bd46 f169a390 _5e45d59f _2a3b75a1 _56a651f6"
        >
          <span class="_0051d171 _2a3b75a1 f973eed0 f6342c26"
            ><div
              class="XmT0ACS _2a3b75a1 _509a57b4 e5a9206f _3692f9c2 _50ba6b6b _985b733f _2580a74b"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                class="project_icon"
                style="color: rgb(128, 128, 128);"
              >
                <circle cx="8" cy="8" r="3.5" fill="currentColor"></circle></svg
              ><span class="mWmGP++">GTD Weekly Review</span
              ><svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  d="M7.646 9.646L4.854 6.854A.5.5 0 015.207 6h5.586a.5.5 0 01.353.854L8.354 9.646a.5.5 0 01-.708 0z"
                  fill="currentColor"
                ></path>
              </svg></div
          ></span>
        </button>
      </div>
      <div
        data-testid="task-editor-action-buttons"
        class="task_editor__footer__action-buttons _2a3b75a1 _509a57b4 e5a9206f _3692f9c2 _50ba6b6b _985b733f c68f8bf6"
      >
        <button
          aria-label="Cancel"
          type="button"
          aria-disabled="false"
          class="_8313bd46 _54d56775 _5e45d59f _2a3b75a1 _56a651f6"
        >
          <span class="_0051d171 _2a3b75a1 f973eed0 f6342c26"
            >Cancel</span
          ></button
        ><button
          data-testid="task-editor-submit-button"
          aria-label="Add task"
          type="button"
          aria-disabled="true"
          class="_8313bd46 _7a4dbd5f _5e45d59f _43792df1 _2a3b75a1 _56a651f6"
        >
          <span class="_0051d171 _2a3b75a1 f973eed0 f6342c26">Add task</span>
        </button>
      </div>
    </div>
  </form>
</li>
