#levup_components {
	/* HMC */
	/* HMC */
	/* Media Query */
}
 @media only screen and (max-width: 992px) {
	 #levup_components .p2 {
		 margin-left: 0 !important;
	}
}
 @media only screen and (max-width: 1199px) {
	 #levup_components .col-sm-8 .textbox1 .btnbox .btn {
		 padding: 10px 40px !important;
	}
	 #levup_components .row .col-sm-6 .card1 .box7 {
		 margin-left: -50px !important;
	}
	 #levup_components .row .col-sm-6 .card1 {
		 height: 498.34px !important;
	}
}
 @media only screen and (max-width: 991px) {
	 #levup_components .row .col-sm-6 .card1 {
		 height: 100% !important;
	}
	 #levup_components .col-sm-8 .textbox1 .btnbox .btn {
		 padding: 10px 30px !important;
	}
	 #levup_components .row .col-sm-6 .card1 .box7 {
		 margin-left: -30px !important;
	}
}
 @media only screen and (max-width: 767px) {
	 #levup_components .col-sm-8 .textbox1 .btnbox .btn {
		 padding: 10px 25px !important;
	}
	 #levup_components .container .row .col-sm-4 .check .form-check .m-1 {
		 margin-right: 30px !important;
	}
	 #levup_components .container .row .col-sm-4 .check .form-check span {
		 margin-left: 0 !important;
	}
	 #levup_components .row .col-sm-6 .card1 .box7 {
		/* width: 500px !important;
		 */
		/* margin: 8px 0 0 70px !important;
		 */
		 margin-left: -100px !important;
		/* margin-right: -200px !important;
		 */
	}
	 #levup_components .row .col-sm-6 {
		 width: 100% !important;
		 margin-bottom: 40px;
	}
}
 @media only screen and (max-width: 450px) {
	 #levup_components .container .row .col-sm-8 .textbox1 .img3 {
		 width: 128px !important;
		 margin-right: 10px !important;
	}
	 #levup_components .container .row .col-sm-8 .textbox1 .btnbox {
		 display: flex;
		 justify-content: center;
	}
	 #levup_components .container .row .col-sm-8 .textbox1 .flex {
		 display: flex;
	}
}
 @media only screen and (min-width: 600px) {
	 #levup_components .sectionsix .container .row .col-sm-8 .drop {
		 display: none;
	}
}
 @media only screen and (max-width: 600px) {
	 #levup_components {
		/* HMC */
		/* HMC */
	}
	 #levup_components .sectionsix .container .row .none {
		 display: none;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .drop {
		 display: flex;
		 justify-content: space-between;
		 margin-top: 30px;
	}
	 #levup_components .left-portion, #levup_components .right-portion {
		 width: 100% !important;
	}
	 #levup_components header {
		 margin-top: 12px;
	}
	 #levup_components header .container .row {
		 padding: 0 0;
		 margin: 0 1px;
	}
	 #levup_components header .container .row li a {
		 display: block;
		 color: white;
		 text-align: center;
		 padding: 20px 15px;
		 text-decoration: none;
	}
	 #levup_components header .container .row li a:hover {
		 color: #111;
		 background-color: #ffd13a;
		 border-radius: 8px;
		 padding: 8px 10px;
		 margin-top: 10px;
		 margin-left: 10px;
	}
	 #levup_components .sectiontwo .container .row {
		 padding: 8px 10px;
		 margin: 0px 0px;
	}
	 #levup_components .sectiontwo .container .row .col-sm-3 .iconbox {
		 margin-left: 0px !important;
	}
	 #levup_components .sectionthree .container .row {
		 margin: 22px 0px;
	}
	 #levup_components .sectionthree .container .row .col-12 .box1 span {
		 font-size: 13px;
		 padding: 1px;
	}
	 #levup_components .sectionfour .container .row {
		 margin: 22px 0px;
		 padding: 0px;
	}
	 #levup_components .sectionfour .container .row .col-sm-4 .imgbox1 h2 {
		 font-size: 25px;
	}
	 #levup_components .sectionfive .container .row {
		 margin: 0px -12px 0px 0px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card1 h4 {
		 color: #160529;
		 padding: 20px 5px 16px 15px;
		 font-weight: 400;
		 font-size: 20px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card1 h4 span {
		 font-size: 15px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card1 h3 {
		 color: #160529;
		 padding: 20px 10px 16px 15px;
		 font-weight: 700;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 i {
		 display: none;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 {
		 margin: 0px !important;
		 padding: 10px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .imgs img {
		 width: 80px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
		 font-size: 15px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {
		 font-size: 18px !important;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 {
		 display: block !important;
		 text-align: center;
		 padding: 45px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .progresss {
		 display: none;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card3 .btn1 img {
		 width: 30px;
		 height: 30px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card3 .btn1 span {
		 font-size: 15px;
		 margin-left: -72px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .card3 .btn1 h5 {
		 font-size: 15px;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card .row .col-sm-6 {
		 border: none !important;
	}
	 #levup_components .sectionfive .container .row .col-sm-6 .card {
		 margin-right: 0px !important;
		 margin-left: -10px;
		 margin-top: 20px;
	}
	 #levup_components ::-webkit-scrollbar {
		 width: 3px;
	}
	 #levup_components .sectionsix .container .row {
		 margin-top: 30px;
	}
	 #levup_components .sectionsix .container .row .col-sm-4 .check h2 {
		 font-size: 22px;
	}
	 #levup_components .sectionsix .container .row .col-sm-4 .check h6 {
		 font-size: 18px;
	}
	 #levup_components .sectionsix .container .row .col-sm-4 .check .form-control {
		 width: 100%;
		 height: 40px;
	}
	 #levup_components .sectionsix .container .row .col-sm-4 .check .button1 {
		 text-align: center;
	}
	 #levup_components .sectionsix .container .row .col-sm-4 .check .button1 button {
		 padding: 10px 120px;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 {
		 display: block;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .box5 span {
		 font-size: 15px;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .box5 h2 {
		 font-size: 20px;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .box5 p {
		 font-size: 16px;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .btnbox button {
		 margin-top: 0px;
		 padding: 10px 50px !important;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .btnbox img {
		 width: 18%;
	}
	 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 {
		 margin-top: 15px !important;
	}
	 #levup_components .sectionsix .container .row .col-sm-4 .box9 .card0 {
		 margin-top: 0px;
		 margin-right: 0px;
		 margin-bottom: 20px;
	}
}
 @media only screen and (max-width: 413px) {
	 #levup_components header {
		 margin-top: 12px;
	}
	 #levup_components header .container .row {
		 padding: 0px 0px;
		 margin: 0px 1px;
	}
	 #levup_components header .container .row li a {
		 padding: 18px 14px;
		 font-size: 12px;
	}
	 #levup_components header .container .row li a:hover {
		 padding: 6px 8px;
	}
}
 @media only screen and (max-width: 340px) {
	 #levup_components header .container .row li a {
		 font-size: 10px;
	}
	 #levup_components progress::-webkit-progress-bar {
		 height: 50px;
	}
}
 