#levup_components * {

	list-style: none;

}


#levup_components {
	/* header */
	/* section one */
	/* Sectiontwo */
	/* sectionthree */
	/* sectionfour */
	/* section five */
	/*transform: translateX(-34px);
	*/
	/* width */
	/* Track */
	/* Handle */
	/* Section six */
	/*-------------- Request Styles ----------------*/
	/*------------------ ChatBox 1 styles-----------------------*/
	/*---------------------Chatbox2 part3 styles ---------------------------*/
	/*---------------------------Chatbox3 part3 styles------------------------------*/
	/*--------------------chatbox4 part3 styles--------------------------*/
}



.form-check-input[type=checkbox] {
	all: revert;
}

#levup_components body {
	background-color: #fff6e5;
}

#levup_components header {
	margin-top: 57px;
}

#levup_components header .container .row {
	background-color: #4f4429;
	border-radius: 10px;
}

#levup_components header .container .row ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#levup_components header .container .row li {
	float: left;
}

#levup_components header .container .row li a {
	display: block;
	color: white;
	text-align: center;
	padding: 25px 25px;
	text-decoration: none;
}

#levup_components header .container .row li a:hover {
	color: #111;
	background-color: #ffd13a;
	border-radius: 8px;
	padding: 15px 20px;
	margin-top: 10px;
	margin-left: 10px;
}

#levup_components .sectionone .container .row {
	background-color: #ffd13a;
	border-radius: 10px 10px 0px 0px;
	margin-top: 12px;
	/*z-index: 0;
	*/
}

#levup_components .sectionone .container .row .col-sm-6 .row1 {
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

#levup_components .sectionone .container .row .col-sm-6 .row1 .bg-row1 {
	position: absolute;
	height: 150px;
	right: 1%;
	top: -20%;
	background-image: url("../images/image 5.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: top;
	z-index: 1;
}

#levup_components .sectionone .container .row .col-sm-6 {
	padding: 26px 12px 24px 30px;
	position: relative;
}

#levup_components .sectionone .container .row .col-sm-6 .imgbox .box {
	padding: 18px 0px 0px 17px;
}

#levup_components .sectionone .container .row .col-sm-6 .imgbox .box h3 {
	color: black;
	font-size: 30px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

#levup_components .sectionone .container .row .col-sm-6 .imgbox .box a {
	color: black;
	border-bottom: 1px solid black;
}

#levup_components .sectionone .container .row .col-sm-6 .row1 .imgcard {
	background-color: white;
	display: flex;
	align-items: center;
	margin-top: 8px;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	width: 40%;
}

#levup_components .sectionone .container .row .col-sm-6 .row1 .imgcard h4 {
	font-size: 15px;
	font-weight: 600;
	padding: 18px 0px 10px 0px;
	color: black;
}

#levup_components .pattern {
	/*position: absolute;
	*/
	/*z-index: 0;
	*/
	/*left: 30%;
	*/
	/*top: -20%;
	*/
	/*overflow: hidden;
	*/
}

#levup_components .sectiontwo .container .row {
	background-color: #b7b7b7;
	padding: 14px 40px 14px 40px;
	border-radius: 0px 0px 10px 10px;
}

#levup_components .sectiontwo .container .row h4 {
	color: #4f4429;
	font-size: 26px;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#levup_components .sectiontwo .container .row .col-sm-3 .iconbox {
	display: flex;
	justify-content: flex-start;
}

#levup_components .sectiontwo .container .row .col-sm-3 .iconbox img {
	position: absolute;
	width: 70%;
	height: 70%;
	margin-top: -8px;
}

#levup_components .sectionone .imgbox .img {
	position: relative;
}

#levup_components .sectionone .sergment {
	color: white;
	padding: 2px 8px;
	background: #000;
	border-radius: 15px;
	font-size: 13px;
	position: absolute;
	z-index: 1;
	text-transform: uppercase;
	left: 28px;
	bottom: -10px;
	border: 3px solid #ffd13a;
}

#levup_components .sectiontwo .container .row .col-sm-3 .iconbox .img {
	display: flex;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: relative;
}

#levup_components .sectiontwo .container .row .col-sm-3 .iconbox .text1 {
	padding-left: 25px;
}

#levup_components .sectiontwo .container .row .col-sm-3 .iconbox .text1 h5 {
	color: white;
	font-size: 30px;
	line-height: 32px;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#levup_components .sectiontwo .container .row .col-sm-3 .iconbox .text1 h6 {
	color: white;
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#levup_components .sectionthree .container .row {
	background-color: white;
	border-style: solid;
	border-width: 2px 2px 4px 2px;
	border-radius: 10px;
	margin-top: 22px;
}

#levup_components .sectionthree .container .row .col-12 .box1 {
	display: flex;
	align-items: center;
}

#levup_components .sectionthree .container .row .col-12 .box1 span {
	font-weight: 700;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}

#levup_components .sectionfour .container .row {
	background-color: white;
	border-style: solid;
	border-width: 2px 2px 4px 2px;
	border-radius: 10px;
	margin-top: 22px;
	padding: 30px 0px;
}

#levup_components .sectionfour .container .row .col-sm-4 .imgbox1 h5 {
	color: #160529;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

#levup_components .sectionfour .container .row .col-sm-4 .imgbox1 h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 28px;
	/*font-family: 400;
	*/
}

#levup_components .sectionfour .container .row .col-sm-4 .imgbox1 p {
	font-size: 16px;
	color: black;
	padding: 0px 10px;
}

#levup_components .sectionfour .container .row .col-sm-4 .imgbox1 {
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#levup_components .sectionfour .container .row .col-sm-4 .imgbox1 button {
	color: #160529;
	font-size: 16px;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-color: #160529;
	background-color: #d9d9d9;
	box-shadow: none;
	border-radius: 18px;
	position: absolute;
	bottom: 0;
	line-height: 2.5rem;
}

#levup_components .content {
	flex-grow: 1;
}

#levup_components .sectionfive .container .row {
	margin-top: 30px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card {
	background-color: white;
	border-style: solid;
	border-width: 2px 2px 4px 2px;
	border-radius: 10px;
	height: 100%;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card1 h4 {
	color: #160529;
	padding: 25px 5px 16px 21px;
	font-weight: 400;
	font-size: 25px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card1 h4 span {
	border: 1px solid #160529;
	background-color: #fff6e6;
	border-radius: 18px;
	padding: 7px 5px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card1 h3 {
	color: #160529;
	padding: 30px 10px 16px 21px;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 {
	padding: 0.5rem 1rem 0.5rem 2rem;
	gap: 0.2rem;
	align-items: center;
	position: relative;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .middle-flex {
	display: flex;
	gap: 2px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .imgs i {
	/*transform: translateX(20px);
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .img3 {
	/*transform: translateX(32px)!important;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .img-active::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -1.2rem;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: #000;
	display: inline-block;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .img2 {
	/*transform: translateX(32px) !important;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .img-active {
	position: relative;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .imgs {
	/*transform: translateX(-36px);
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text22 {
	/*transform: translateX(45px) !important;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text23 {
	/*transform: translateX(45px)!important;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 {
	/*padding-top: 30px;
	*/
	flex-grow: 0.5;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {
	color: #160529;
	font-weight: 700;
	/*font-family: 18px;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
	color: black;
	border-bottom: 1px solid black;
	font-size: 13px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 span {
	border-bottom: none !important;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .arrow-icon {
	flex: 1;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 .progresss i {
	/*flex: 1;
	*/
	display: flex;
	justify-content: flex-end;
}

#levup_components progress::-webkit-progress-value {
	background-color: #8bcc82;
}

#levup_components progress::-webkit-progress-bar {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card2 i {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	color: black;
	font-size: 25px;
	font-weight: 700;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card3 {
	padding: 0.5rem 1rem 0.5rem 2rem;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card3 .btn1 span {
	color: #160529;
	font-size: 20px;
	font-weight: 700;
	/*margin-left: 5px;
	*/
	/*margin-top: 5px;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .card3 .btn1 h5 {
	font-weight: 600;
	/*margin-left: 25px;
	*/
	/*margin-top: 5px;
	*/
}

#levup_components .sectionfive .container .row .col-sm-6 .card .r-card {
	display: flex;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .r-card-left {
	display: flex;
	flex-direction: column;
	width: 50%;
}

#levup_components .sectionfive .container .row .col-sm-6 .card .r-card-right {
	display: flex;
	flex-direction: column;
	width: 50%;
	border-left: 2px solid black;
}

#levup_components .sectionfive .container .row .col-sm-6 .card div .head2 {
	border-bottom: 2px solid black;
}

#levup_components .sectionfive .container .row .col-sm-6 .card div .head2 h2 {
	color: #160529;
	font-size: 22px;
	font-weight: 400;
	padding: 22px 0px 13px 22px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card div .head2 h2 span {
	color: #160529;
	font-size: 20px;
	font-weight: 400;
	background-color: #fff6e6;
	border-radius: 50%;
	border: 1px solid #160529;
	padding: 5px 10px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card div .imgbox1 .imgbox2 {
	padding: 20px 15px 5px 15px;
}

#levup_components .sectionfive .container .row .col-sm-6 .card div .imgbox1 .imgbox2 span {
	color: #160529;
	font-size: 18px;
	font-weight: 700;
	padding-left: 5px;
}

#levup_components ::-webkit-scrollbar {
	width: 10px;
}

#levup_components ::-webkit-scrollbar-track {
	border-radius: 10px;
}

#levup_components ::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
	width: 10px;
}

#levup_components .sectionsix .container .row {
	margin-top: 52px;
}

#levup_components .sectionsix .container .row .col-sm-4 .check h2 {
	color: #160529;
	font-weight: 300;
	font-size: 28px;
	text-transform: capitalize;
}

#levup_components .sectionsix .container .row .col-sm-4 .check h6 {
	color: #160529;
	font-weight: 300;
	font-size: 22px;
	text-transform: capitalize;
	margin-top: 30px;
}

#levup_components .sectionsix .container .row .col-sm-4 .check .form-control {
	width: 70%;
	height: 50px;
	border-style: solid;
	border-width: 2px 2px 4px 2px;
	border-radius: 15px;
	border-color: #000;
}

#levup_components .sectionsix .container .row .col-sm-4 .check .form-check {
	margin-top: 20px;
}

#levup_components .sectionsix .container .row .col-sm-4 .check .form-check span {
	border: 1px solid #ef5a17;
	border-radius: 18px;
	color: black;
	font-size: 12px;
	padding: 5px 12px;
	margin-left: 5px;
}

#levup_components .requestSectionTwo .container {
	padding: 0;
}

#levup_components .requestSectionTwo .container3 {
	margin-top: 3%;
	margin-left: 3%;
	color: #5b5858;
}

#levup_components .requestSectionTwo .container4 {
	margin: 2% 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#levup_components .requestSectionTwo .container4 .part1 {
	width: 25%;
}

#levup_components .requestSectionTwo .container4 .part1 .part11 {
	border: 2px solid #000;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	padding: 10px 2px;
	background-color: white;
}

#levup_components .requestSectionTwo .part11 .part111 {
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	align-items: flex-start;
}

#levup_components .requestSectionTwo .part111 .fst {
	display: flex;
}

#levup_components .requestSectionTwo .fst img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

#levup_components .requestSectionTwo .fst ul {
	text-decoration: none;
	list-style-type: none;
}

#levup_components .requestSectionTwo .alina {
	font-size: 18px;
}

#levup_components .requestSectionTwo .ce {
	margin-top: 0;
}

#levup_components .requestSectionTwo .bronze {
	margin-top: 10px;
	color: #ef5a17;
}

#levup_components .requestSectionTwo .part11 .para {
	line-height: 24px;
	margin-top: 20px;
	font-size: 15px;
	width: 90%;
}

#levup_components .requestSectionTwo .part11 .offer {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -180px;
}

#levup_components .requestSectionTwo .part11 ul {
	list-style-type: none;
}

#levup_components .requestSectionTwo .part11 .categories {
	margin-left: -150px;
}

#levup_components .requestSectionTwo .part11 ul li {
	margin-top: 10px;
}

#levup_components .requestSectionTwo .part11 .categories ul li:before {
	content: '✓';
	color: #ef5a17;
	margin-right: 10px;
}

#levup_components .requestSectionTwo .part12 {
	border: 2px solid black;
	border-radius: 12px;
	padding: 10px 20px;
	margin: 10px 0;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
}

#levup_components .requestSectionTwo .part12 .updown::before {
	content: '⇅';
	margin-right: 10px;
	font-size: 18px;
}

#levup_components .requestSectionTwo .part2 {
	width: 70%;
	border: 2px solid black;
	border-radius: 12px;
	padding: 10px 20px;
	background-color: white;
	height: 100%;
	color: black;
}

#levup_components .requestSectionTwo .part2 .req {
	margin-top: 10px;
	font-size: 28px;
}

#levup_components .requestSectionTwo .part2 .all p {
	font-size: 19px;
	margin-top: 30px;
	letter-spacing: 1px;
}

#levup_components .requestSectionTwo .part2 .inputs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	font-weight: 600;
	color: black;
}

#levup_components .requestSectionTwo .ip1 {
	border: 1px solid black;
	border-bottom: 2px solid black;
	padding: 25px 45px;
	border-radius: 12px;
	margin-top: 20px;
}

#levup_components .requestSectionTwo .ip2 {
	border: 1px solid black;
	border-bottom: 2px solid black;
	padding: 25px 45px;
	border-radius: 12px;
	margin-top: 20px;
}

#levup_components .requestSectionTwo .ip3 {
	border: 1px solid black;
	border-bottom: 2px solid black;
	padding: 25px 45px;
	border-radius: 12px;
	margin-top: 20px;
}

#levup_components .requestSectionTwo .ip4 {
	border: 1px solid black;
	border-bottom: 2px solid black;
	padding: 25px 45px;
	border-radius: 12px;
	margin-top: 20px;
}

#levup_components .requestSectionTwo .part2 .inputs input {
	margin-right: 10px;
	transform: scale(1.5);
}

#levup_components input[type="checkbox"]:enabled:checked {
	accent-color: #2def82;
}

#levup_components .requestSectionTwo .ip1:hover {
	background-color: rgba(139, 204, 130, 0.2);
}

#levup_components .requestSectionTwo .ip2:hover {
	background-color: rgba(139, 204, 130, 0.2);
}

#levup_components .requestSectionTwo .ip3:hover {
	background-color: rgba(139, 204, 130, 0.2);
}

#levup_components .requestSectionTwo .ip4:hover {
	background-color: rgba(139, 204, 130, 0.2);
}

#levup_components .requestSectionTwo .part2 .timeline {
	margin-top: 50px;
	font-size: 18px;
}

#levup_components .requestSectionTwo .part2 select {
	border: 2px solid #000;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
	background-color: white;
	padding: 15px 40px;
	border-radius: 12px;
	margin-top: 40px;
}

#levup_components .requestSectionTwo .part2 textarea {
	border: 2px solid #000;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	margin-top: 20px;
	padding: 20px 20px;
	width: 100%;
}

#levup_components .requestSectionTwo .part2 #submit {
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 12px;
	background-color: #8bcc82;
	font-weight: bold;
}

#levup_components .part31 ul .head {
	font-size: 20px;
}

#levup_components .container2 {
	display: flex;
	border: 3px solid black;
	border-radius: 12px;
	margin-top: 1%;
	padding: 0;
	margin-bottom: 1%;
}

#levup_components .container2 .part1 {
	width: 10%;
	background-color: white;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	display: flex;
	flex-direction: column;
	/*align-items: center;
	*/
	/*justify-content: center;
	*/
}

#levup_components .container2 .part1 .svg-container svg {
	display: flex;
	justify-content: center;
}

#levup_components .container2 .bdright {
	border-right: 2px solid black;
}

#levup_components .container2 .part2 {
	width: 50%;
	background-color: white;
	height: auto;
}

#levup_components .container2 .part3 {
	width: 40%;
}

#levup_components .container2 .part1 .mentor {
	background-color: #ffd13a;
	padding: 3px 8px;
	text-align: center;
	font-size: 17px;
	word-wrap: break-word;
	border-top-left-radius: 12px;
	text-transform: uppercase;
	color: #4f4429;
	font-weight: bolder;
	height: 35px;
}

#levup_components .container2 .part1 .part11 img,
#levup_components .container2 .part1 .part11-active img {
	height: 40px;
	width: 40px;
	display: block;
	margin: 20px auto 10px auto;
	border-radius: 50%;
	transform: scale(1.5);
	position: relative;
	border: 1px solid black;
}

#levup_components .container2 .part1 img {
	height: 80px;
	width: 80px;
	display: block;
	border-radius: 50%;
	transform: scale(0.8);
	margin: 0 auto;
}

#levup_components .part1 .part11-active {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: black;
	border-bottom: 2px solid black;
}

#levup_components .part1 .part11 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	color: black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

#levup_components .part1 .sertext {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
}

#levup_components .part1 .sergment {
	color: white;
	padding: 2px 8px;
	background: #000;
	border-radius: 12px;
	font-size: 10px;
	margin-top: 5px;
	position: absolute;
	z-index: 1;
	text-transform: uppercase;
}

#levup_components .natalia ul {
	list-style-type: none;
}

#levup_components .activeproj {
	text-align: center;
	color: black;
}

#levup_components .admnt-parent {
	padding: 5px 0;
	width: 100%;
}

#levup_components .container2 .admnt {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff0d6;
	border: 2px solid black;
	padding: 5px 5px;
	border-radius: 12px;
	margin: 0 auto;
	/*border-right: 3px solid black;
	*/
}

#levup_components .container2 .part1 .search {
	height: 50px;
	width: 50px;
	color: white;
	background: #448fff;
	border: 1px dotted black;
	padding: 8px 8px;
	border-radius: 50%;
}

#levup_components .container2 .mentstyl {
	text-align: center;
	font-weight: bold;
}

#levup_components .container2 .part1 .peer {
	background-color: #ffd13a;
	padding: 0 8px;
	font-size: 20px;
	text-align: center;
	border-top: 1px solid black;
	font-weight: bolder;
	color: #4f4429;
	text-transform: uppercase;
}

#levup_components .part2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* align-items: center;
	 */
	height: 800px;
}

#levup_components .part2 .part21-bottom-box {
	width: 100%;
}

#levup_components .part2 .return {
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
}

#levup_components .part2 #levup-send-reply {
	width: 90% !important;
	display: block;
	border: 2px solid black;
	border-radius: 12px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#levup_components .part2 .iconwd {
	margin-top: 4px;
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

#levup_components .iconss {
	padding-top: 38px;
}

#levup_components .icons {
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 80%;
	margin-top: -33px;
	margin-left: auto;
	margin-right: auto;
}

#levup_components .emoji {
	display: flex;
}

#levup_components .emoji img {
	width: 25px;
	height: 25px;
	margin-left: 4px;
	margin-right: 4px;
}

#levup_components .telegram {
	width: 20px;
	height: 20px;
	background: #4f4429;
	padding: 20px;
	border-radius: 30%;
	margin-top: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#levup_components .telegram svg {
	position: absolute;
	z-index: 1;
}

#levup_components .part3 {
	border-left: 3px solid black;
}

#levup_components .special-flex {
	flex: 1;
	justify-content: start !important;
}

#levup_components .part3 .chatbox1 {
	background-color: #d9d9d9;
	padding: 20px 20px 10px 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 100%;
}

#levup_components .chatbox1 .part31 {
	border-radius: 12px;
	border: 3px solid black;
	height: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: white;
}

#levup_components .part31 .part31-sergypart {
	width: 60px;
	height: auto;
	position: relative;
	border-radius: 50%;
	border: 2px solid black;
}

#levup_components .part31 .span {
	color: white;
	padding: 4px 7px;
	background: #000;
	border-radius: 12px;
	font-size: 11px;
	position: absolute;
	margin-left: -60px;
	margin-top: 50px;
	text-transform: uppercase;
}

#levup_components .part31 .license {
	border: 2px solid black;
	background: #d2d2d2;
	box-shadow: 1px 1px 8px grey;
	padding: 5px;
	border-radius: 8px;
	margin: auto 3px;
}

#levup_components .chatbox1 .part31 img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 1px solid black;
}

#levup_components .chatbox1 .part31 .btn {
	padding: 12px 35px;
	background-color: #8bcc82;
	font-weight: bolder;
	border-radius: 12px;
	margin-top: 20px;
	font-size: 18px;
	color: black;
	border: 1px solid black;
}

#levup_components .chatbox1 .part31 .text {
	font-size: 28px;
}

#levup_components .chatbox1 .part31 .text1 {
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
}

#levup_components .part3 .chatbox2 {
	background-color: #d9d9d9;
	padding: 20px 20px 10px 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 100%;
}

#levup_components .chatbox2 .part31 {
	border-radius: 12px;
	border: 3px solid black;
	height: 780px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: white;
	text-align: center;
	margin-top: 0px;
}

#levup_components .chatbox2 .part31 .part311 {
	margin-top: -100px;
}

#levup_components .chatbox2 .part31 .part311 .part312 {
	border-width: 2px 2px 4px 2px;
	border-style: solid;
	border-color: black;
	background-color: #fff6e5;
	padding: 24px 22px;
	border-radius: 10px;
	margin: 0px 17px;
}

#levup_components .chatbox2 .part31 .part311 .part312 p {
	text-align: left;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

#levup_components .chatbox2 .part31 .part311 .part312 h4 {
	color: black;
	font-weight: 700;
	font-size: 15px;
	text-align: left;
}

#levup_components .chatbox2 .part31 .part311 .part312 h4 span {
	font-weight: 300 !important;
}

#levup_components .chatbox2 .part31 img {
	height: 440px;
	width: 400px;
}

#levup_components .chatbox2 .part31 .btn {
	font-weight: bold;
	margin-top: 20px;
}

#levup_components .chatbox2 .part31 .text {
	font-size: 28px;
}

#levup_components .part3 .chatbox3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#levup_components .chatbox3 .part31 {
	display: flex;
	padding-left: 20px;
	padding-bottom: 20px;
	background: white;
	border-bottom: 3px solid black;
	border-top-right-radius: 8px;
}

#levup_components .chatbox3 .sergypart {
	margin-top: 10px;
}

#levup_components .chatbox3 .part31 ul {
	list-style-type: none;
	margin-left: -20px;
}

#levup_components .chatbox3 .part31 ul .head {
	font-size: 24px;
	font-family: sans-serif;
}

#levup_components .chatbox3 .license {
	border: 2px solid black;
	background: #d2d2d2;
	box-shadow: 1px 1px 8px grey;
	padding: 5px;
	border-radius: 8px;
	margin: auto 3px;
}

#levup_components .chatbox3 .part3 .part32 {
	display: flex;
	flex-direction: column;
	height: 53.2%;
	/*background: #FFF6E5;
	*/
	padding: 20px;
	font-family: sans-serif;
	border-bottom: 2px solid black;
}

#levup_components .chatbox4 .part32 .part321 {
	border: 3px solid #000;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	padding: 12px 12px 20px 12px;
	background-color: white;
	width: 90%;
	margin: 5% auto;
}

#levup_components .chatbox3 .part32 .p {
	font-size: 20px;
	font-family: sans-serif;
	color: #474545;
	width: 90%;
	margin: 5% auto 0;
}

#levup_components .chatbox3 .part32 .sync {
	display: flex;
	justify-content: space-between;
}

#levup_components .chatbox3 .part32 .part322 {
	border: 3px solid #000;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	padding: 12px 12px 20px 12px;
	background-color: white;
	width: 90%;
	margin: 5% auto;
}

#levup_components .chatbox3 .part32 .part322 .lodsec {
	display: flex;
}

#levup_components .chatbox3 .part32 .lodsec img {
	height: 40px;
	width: 40px;
}

#levup_components .chatbox3 .lodsec .width {
	letter-spacing: 1px;
	margin-top: 2px;
}

#levup_components .chatbox3 .part33 {
	padding: 20px;
	background: #000;
	border-top: 3px solid black;
}

#levup_components .chatbox3 .part33 .p {
	font-size: 20px;
	font-family: sans-serif;
	color: #474545;
	margin-bottom: 20px;
}

#levup_components .chatbox3 .file {
	display: flex;
	justify-content: space-between;
}

#levup_components .chatbox3 .part33 .zip {
	list-style-type: none;
	margin-left: -40px;
	color: #474545;
}

#levup_components .chatbox3 .zip li {
	margin-bottom: 4px;
}

#levup_components .part34 {
	border-top: 3px solid black;
	position: relative;
}

#levup_components .part34 .meter {
	height: 20px;
	position: relative;
	background: #8bcc82 !important;
	width: 66%;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
	border-bottom-right-radius: 5px;
}

#levup_components .part34 .meter span {
	position: absolute;
	margin-top: -10px;
	font-weight: 500;
	color: black;
}

#levup_components .part34 .meter94 {
	height: 20px;
	position: relative;
	background: #8bcc82 !important;
	width: 94%;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#levup_components .part34 .meter94 span {
	font-weight: 500;
	color: black;
}

#levup_components .part34 .meter100 {
	height: 20px;
	position: relative;
	background: #8bcc82 !important;
	width: 100%;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#levup_components .part34 .meter100 span {
	font-weight: 500;
	color: black;
}

#levup_components .part34 .meterBtn {
	height: 85%;
	position: absolute;
	font-size: xx-small;
	font-weight: bold;
	bottom: 8%;
	right: 2%;
	width: 50px;
	border-radius: 5px;
	background-color: #ffab0d;
}

#levup_components .part34 .meterBtnDisable {
	opacity: 0.4;
}

#levup_components .chatbox4 {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#levup_components .chatbox4 .part31 {
	display: flex;
	padding-left: 20px;
	padding-bottom: 20px;
	background: white;
	border-bottom: 3px solid black;
	border-top-right-radius: 8px;
}

#levup_components .chatbox4 .sergypart {
	margin-top: 10px;
}

#levup_components .chatbox4 .part31 ul {
	list-style-type: none;
	margin-left: -20px;
}

#levup_components .chatbox4 .part31 ul .head {
	font-size: 24px;
	font-family: sans-serif;
}

#levup_components .chatbox4 .part32 {
	display: flex;
	flex-direction: column;
	height: 80%;
	/*background: #FFD13A;
	;
	*/
	padding: 20px;
	font-family: sans-serif;
}

#levup_components .chatbox4 .part32 .part321 {
	border: 3px solid #000;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	padding: 5px;
	background-color: white;
	display: flex;
	justify-content: space-between;
}

/*
 #levup_components .chatbox4 .part32 .sync {
	 height: 30px;
	 width: 30px;
}
*/
#levup_components .chatbox4 .part32 .part322 {
	border: 3px solid #000;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	/*height: 350px;
	*/
}

#levup_components .chatbox4 .part32 .part322 .special-chek {
	height: 60px;
}

#levup_components .chatbox4 .part32 .part322 .chek {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

#levup_components .chatbox4 .calender {
	height: 13px;
	width: 13px;
}

#levup_components .chatbox4 .hr {
	text-align: center;
	width: 90%;
	margin-top: 15px;
}

#levup_components .chatbox4 .imgicon {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	width: 28%;
	gap: 5px;
}

#levup_components .chatbox4 .img-thumbnail {
	height: 30px;
	width: 30px;
	margin-right: 0 !important;
}

#levup_components .chatbox4 .mgdate {
	margin-right: 10px;
	margin-top: 5px;
}

#levup_components .chatbox4 .lodsec .width {
	margin-top: 10px;
}

#levup_components .chatbox4 .part33 {
	padding: 20px;
	background: #000;
	border-top: 3px solid black;
}

#levup_components .chatbox4 span {
	margin-left: 0px;
}

#levup_components .chatbox4 .part33 .p {
	font-size: 20px;
	font-family: sans-serif;
	color: #474545;
	margin-bottom: 20px;
}

#levup_components .chatbox4 .file {
	display: flex;
	justify-content: space-between;
}

#levup_components .chatbox4 .part33 .zip {
	list-style-type: none;
	margin-left: -40px;
	color: #474545;
}

#levup_components .chatbox4 .zip li {
	margin-bottom: 4px;
}

#levup_components .part32 .part322 .chek .chek-confirm-btn {
	background-color: #ffab0d;
	border-radius: 5px;
	margin-left: 15px;
}

#levup_components .chatbox4 .part32 .part322 .chek form img {
	margin: 0 3% 0 0;
}

#levup_components .chatbox4 .part32 .part322 .chek div:first-child {
	width: 72%;
}

#levup_components .chatbox4 .part32 .part322 .chek form input {
	margin: 0 3% 0 0;
	transform: scale(1.2);
}

#levup_components .chatbox4 .part32 .part322 .chek form div {
	font-size: 18px;
	color: black;
}

#levup_components .chatbox4 .part32 .part322 .chek form {
	width: 100% !important;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#levup_components .chatbox4 .part32 .p {
	color: black;
}