#levup_components {
	/* header */
	/* section one */
	/* Sectiontwo */
	/* sectionthree */
	/* sectionfour */
	/* section five */
	/* width */
	/* Track */
	/* Handle */
	/* Section six */
}
 #levup_components body {
	 background-color: #fff6e5;
}
 #levup_components header {
	 margin-top: 57px;
}
 #levup_components header .container .row {
	 background-color: #4f4429;
	 border-radius: 10px;
}
 #levup_components header .container .row ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
}
 #levup_components header .container .row li {
	 float: left;
}
 #levup_components header .container .row li a {
	 display: block;
	 color: white;
	 text-align: center;
	 padding: 25px 25px;
	 text-decoration: none;
}
 #levup_components header .container .row li a:hover {
	 color: #111;
	 background-color: #ffd13a;
	 border-radius: 8px;
	 padding: 15px 20px;
	 margin-top: 10px;
	 margin-left: 10px;
}
 #levup_components input[type="checkbox"]:checked {
	 background-color: #8bcc82 !important;
}
 #levup_components .sectiontwo .container .row {
	 background-color: #b7b7b7;
	 padding: 14px 40px 14px 40px;
	 border-radius: 0px 0px 10px 10px;
}
 #levup_components .sectiontwo .container .row h4 {
	 color: #4f4429;
	 font-size: 26px;
	 font-weight: 400;
	 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 #levup_components .sectiontwo .container .row .col-sm-3 .iconbox {
	 display: flex;
	 justify-content: flex-start;
}
 #levup_components .sectiontwo .container .row .col-sm-3 .iconbox .text1 {
	 padding-left: 25px;
}
 #levup_components .sectiontwo .container .row .col-sm-3 .iconbox .text1 h5 {
	 color: white;
	 font-size: 30px;
	 line-height: 32px;
	 font-weight: 400;
	 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 #levup_components .sectiontwo .container .row .col-sm-3 .iconbox .text1 h6 {
	 color: white;
	 font-size: 20px;
	 line-height: 32px;
	 font-weight: 400;
	 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 #levup_components .sectionthree .container .row {
	 background-color: white;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-radius: 10px;
	 margin-top: 22px;
}
 #levup_components .sectionthree .container .row .col-12 .box1 span {
	 font-weight: 700;
	 color: black;
	 font-family: Arial, Helvetica, sans-serif;
	 padding-left: 10px;
}
 #levup_components .sectionfour .container .row {
	 background-color: white;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-radius: 10px;
	 margin-top: 22px;
	 padding: 30px 0px;
}
 #levup_components .sectionfour .container .row .col-sm-4 .imgbox1 h5 {
	 color: #160529;
	 font-size: 15px;
	 text-transform: uppercase;
	 font-weight: 700;
	 font-family: Arial, Helvetica, sans-serif;
}
 #levup_components .sectionfour .container .row .col-sm-4 .imgbox1 h2 {
	 font-family: Arial, Helvetica, sans-serif;
	 color: #000;
	 font-size: 28px;
	 font-family: 400;
}
 #levup_components .sectionfour .container .row .col-sm-4 .imgbox1 p {
	 font-size: 16px;
	 color: black;
	 padding: 0px 10px;
}
 #levup_components .sectionfour .container .row .col-sm-4 .imgbox1 button {
	 color: #160529;
	 font-size: 16px;
	 border-style: solid;
	 border-width: 1px 1px 2px 1px;
	 border-color: #160529;
	 background-color: #d9d9d9;
	 box-shadow: none;
	 border-radius: 18px;
}
 #levup_components .sectionfive .container .row {
	 margin-top: 30px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card {
	 background-color: white;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-radius: 10px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card1 h4 {
	 color: #160529;
	 padding: 25px 5px 16px 21px;
	 font-weight: 400;
	 font-size: 25px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card1 h4 span {
	 border: 1px solid #160529;
	 background-color: #fff6e5;
	 border-radius: 18px;
	 padding: 7px 5px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card1 h3 {
	 color: #160529;
	 padding: 30px 10px 16px 21px;
	 font-weight: 700;
	 font-size: 20px;
	 text-transform: uppercase;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 i {
	 margin-left: -20px;
	 margin-right: -25px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .imgs img {
	 margin-top: -35px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 {
	 padding-top: 30px;
	 margin-left: -20px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 h5 {
	 color: #160529;
	 font-weight: 700;
	 font-family: 18px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 a {
	 color: black;
	 border-bottom: 1px solid black;
	 font-size: 13px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .text2 span {
	 border-bottom: none !important;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card2 .icons {
	 margin-top: 40px;
	 padding-right: 10px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .card3 .btn1 span {
	 color: #160529;
	 font-size: 20px;
	 font-weight: 700;
	 margin-left: -140px;
	 margin-top: 5px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .row .col-sm-6 .head2 h2 {
	 color: #160529;
	 font-size: 22px;
	 font-weight: 400;
	 padding: 30px 0px 15px 20px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .row .col-sm-6 .head2 h2 span {
	 color: #160529;
	 font-size: 20px;
	 font-weight: 400;
	 background-color: #fff6e5;
	 border-radius: 17px;
	 border: 1px solid #160529;
	 padding: 5px 10px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .row .col-sm-6 .imgbox1 .imgbox2 {
	 padding: 15px 15px 5px 15px;
}
 #levup_components .sectionfive .container .row .col-sm-6 .card .row .col-sm-6 .imgbox1 .imgbox2 span {
	 color: #160529;
	 font-size: 18px;
	 font-weight: 700;
	 padding-left: 5px;
}
 #levup_components ::-webkit-scrollbar {
	 width: 10px;
}
 #levup_components ::-webkit-scrollbar-track {
	 border-radius: 10px;
}
 #levup_components ::-webkit-scrollbar-thumb {
	 background: black;
	 border-radius: 10px;
	 width: 10px;
}
 #levup_components .sectionsix .container .row {
	 margin-top: 52px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .check h2 {
	 color: #160529;
	 font-weight: 300;
	 font-size: 28px;
	 text-transform: capitalize;
}
 #levup_components .sectionsix .container .row .col-sm-4 .check h6 {
	 color: #160529;
	 font-weight: 300;
	 font-size: 22px;
	 text-transform: capitalize;
	 margin-top: 30px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .check .form-control {
	 width: 70%;
	 height: 50px;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-radius: 15px;
	 border-color: #000;
}
 #levup_components .sectionsix .container .row .col-sm-4 .check .form-check {
	 margin-top: 20px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .check .form-check span {
	 border: 1px solid #ef5a17;
	 border-radius: 18px;
	 color: black;
	 font-size: 12px;
	 padding: 5px 12px;
	 margin-left: 5px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .check .button1 button {
	 box-shadow: none;
	 background-color: #8bcc82;
	 color: black;
	 border-style: solid;
	 border-width: 1px 1px 2px 1px;
	 border-color: black;
	 border-radius: 16px;
	 padding: 10px 45px;
	 font-size: 18px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .box9 .card0 {
	 border-radius: 10px;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-color: #160529;
	 background-color: white;
	 padding: 15px;
	 margin-right: 30px;
	 margin-top: 95px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .box9 .card0 h3 {
	 font-size: 25px;
	 color: #160529;
	 font-weight: 300;
	 padding-top: 15px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .box9 .card0 p {
	 font-size: 18px;
	 color: black;
	 padding-top: 10px;
}
 #levup_components .sectionsix .container .row .col-sm-4 .box9 .card0 a {
	 color: black;
	 border-bottom: 1px solid black;
	 font-weight: 600;
}
 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 {
	 border-width: 2px 2px 4px 2px;
	 border-style: solid;
	 border-color: black;
	 border-radius: 18px;
	 padding: 20px;
	 display: flex;
	 justify-content: space-between;
}
 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .box5 span {
	 border-radius: 4px;
	 color: black;
	 font-size: 16px;
	 font-weight: 700;
	 background-color: #2def82;
	 padding: 5px;
	 margin-top: 10px;
}
 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .box5 h2 {
	 font-size: 22px;
	 line-height: 28px;
	 color: #160529;
	 font-weight: 700;
	 padding-top: 9px;
}
 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .box5 p {
	 font-size: 18px;
	 font-weight: 400;
	 color: black;
}
 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .btnbox img {
	 position: absolute;
	 width: 35px;
	 top: 8%;
	 left: 4%;
}
 #levup_components .sectionsix .container .row .col-sm-8 .textbox1 .btnbox button {
	 background-color: white;
	 border-style: solid;
	 box-shadow: none;
	 font-size: 15px;
	 border-color: black;
	 border-width: 1px 1px 2px 1px;
	 padding: 10px 30px 10px 50px;
	 border-radius: 18px;
	 color: black;
	 text-transform: uppercase;
	 margin-top: 40px;
	 position: relative;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 {
	 background-color: white;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-color: black;
	 padding: 15px;
	 border-radius: 10px;
	/* margin-right: 10px;
	 */
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .cardbx {
	 display: flex;
	 justify-content: space-between;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .cardbx .img12 img {
	 width: 50%;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .cardbx .box7 {
	 margin-left: -120px;
	 margin-top: 8px;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .cardbx .box7 h5 {
	 font-size: 18px;
	 font-weight: 700;
	 color: black;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .cardbx .box7 h6 {
	 font-weight: 300;
	 font-size: 16px;
	 color: black;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .cardbx a {
	 color: #ef5a17;
	 margin-top: 15px;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 p {
	 color: black;
	 font-size: 15px;
	 padding-top: 20px;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 h2 {
	 color: black;
	 font-weight: 700;
	 padding-top: 10px;
	 font-size: 18px;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 i {
	 color: #ef5a17;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 span {
	 color: black;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .btn19 {
	 text-align: center;
}
 #levup_components .sectionsix .container .row .col-sm-8 .row .col-sm-6 .card1 .btn19 button {
	 box-shadow: none;
	 color: #160529;
	 background-color: #8bcc82;
	 border-style: solid;
	 border-width: 2px 2px 4px 2px;
	 border-color: #160529;
	 padding: 10px 40px;
	 border-radius: 18px;
	 margin-top: 30px;
}
 